# Ignore the lab-solutions directory
# labs-solutions

# Ignore particular lab solutions
#labs-solutions/lab01-solution.ipynb
#labs-solutions/lab02-solution.ipynb
#labs-solutions/lab03-solution.ipynb
#labs-solutions/lab04-solution.ipynb
labs-solutions/lab05-solution.ipynb
labs-solutions/lab06-solution.ipynb
labs-solutions/lab07-solution.ipynb
labs-solutions/lab08-solution.ipynb


# Ignore particular exam solutions
exam-solutions/exam01-solution_spring23.ipynb



# Ignore workspace VS Code files
*.code-workspace

.ipynb_checkpoints